/* FONTS (FONT-FACE) */

@font-face {
  font-family: "Inter Regular";
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter Medium";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/Inter-Medium.woff") format("woff");
}
@font-face {
  font-family: "Inter Semi Bold";
  font-style: normal;
  font-weight: 600;
  src: url("assets/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter Bold";
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Inter-Bold.woff") format("woff");
}

/* CSS CUSTOM PROPERTIES(VARIABLES) */
:root {
  --ff-inter-regular-400: "Inter Regular", sans-serif;
  --ff-inter-medium-500: "Inter Medium", sans-serif;
  --ff-inter-semi-bold-600: "Inter Semi Bold", sans-serif;
  --ff-inter-bold-700: "Inter Bold", sans-serif;
}

/* RESET ****************************************/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--ff-inter-regular-400);
  color: #222132;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222132;
  line-height: 1.1;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img,
photo {
  display: block;
  max-width: 100%;
}

.line-height {
  line-height: 29px;
}

/* HEADER ****************************************/
header {
  position: sticky;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.03) 0 17px 32px;
}
.header-container {
  max-width: 1640px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}
.header-nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.header-mobile {
  display: none;
}
.mobile-links.show {
  display: none;
}
.mobile-links {
  display: none;
}

.header-logo__img {
  max-width: 192px;
  height: 36px;
  object-fit: contain;
  margin-inline-end: 82px;
}
.header-links ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  row-gap: 0;
}
.header-links ul li {
  font-family: var(--ff-inter-semi-bold-600);
}
.header-links .link {
  display: inline-block;
  font-family: var(--ff-inter-semi-bold-600);
  color: rgb(34, 33, 50);
  font-size: 16px;
  line-height: 1;
  margin-inline-end: 42px;
  height: 90px;
  padding-block-start: calc(66px / 2);
  border-top: 4px solid white;
  transition: border 200ms linear;
}
.header-links .login {
  background-color: white;
  color: #19bb70;
  padding-block: 13px;
  padding-inline: 14px;
  border-radius: 12px;
  border: 1.6px solid #19bb70;
  margin-inline-start: 40px;
  margin-inline-end: 15px;
  height: auto;
  transition: all 200ms linear;
}
.header-links .register {
  background-color: rgb(25, 187, 112);
  border-radius: 12px;
  padding-block: 13px;
  padding-inline: 14px;
  border: 1.6px solid #19bb70;
  color: white;
  margin-inline-end: 0px;
  height: auto;
  box-shadow: rgba(50, 103, 78, 0.3) 4px 10px 20px 0px;
  transition: all 200ms linear;
}
.header-links .link-active {
  color: #19bb70;
  border-top: 4px solid #19bb70;
  height: 90px;
  padding-block-start: calc(66px / 2);
}
.header-links .link:hover,
.header-links .link:focus {
  color: #19bb70;
  border-top: 4px solid #19bb70;
  transform: translateX(0%);
  height: 90px;
  padding-block-start: calc(66px / 2);
}
.header-links .login:hover,
.header-links .login:focus {
  background-color: black;
  border: 1.6px solid black;
  color: white;
  height: auto;
  padding-block-start: 13px;
  box-shadow: rgba(34, 33, 50, 0.3) 4px 10px 20px 0px;
}
.header-links .register:hover,
.header-links .register:focus {
  height: auto;
  padding-block-start: 13px;
  background-color: white;
  color: #000;
  border: 1.6px solid black;
  box-shadow: rgba(34, 33, 50, 0.3) 4px 10px 20px 0px;
}

/* MAIN SECTION ****************************************/
.main {
  width: 100%;
}
.image__background {
  background-image: url("https://zaposlise.hr/wp-content/uploads/2023/08/zaposlise-poslodavci-naslovna-2023@2x-scaled.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 595px;
  z-index: 2;
}

.main-container {
  z-index: 10;
  max-width: 1040px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
  padding-block-start: 75px;
  padding-block-end: 70px;
}
.main-container__content {
  position: relative;
  display: grid;
  gap: 1rem;
  margin-top: 1rem;
  width: 50%;
  z-index: 20;
}

.main-title {
  font-size: 44px;
  line-height: 1;
  color: #222132;
  font-family: var(--ff-inter-bold-700), sans-serif;
  padding-block-end: 20px;
}
.main-description {
  line-height: 24px;
  font-size: 16px;
  color: #000;
}
.main-link__button {
  font-size: 20px;
  line-height: 20px;
  padding: 18px 26px;
  font-family: var(--ff-inter-medium-500);
  background: #19bb70;
  border: 0;
  color: #fff;
  border-radius: 6px;
  margin: 0;
  width: fit-content;
  display: inline-block;
  box-shadow: rgba(25, 187, 112, 0.26) 0 20px 27px;
  line-height: 1;
  -moz-transition: all 200ms linear;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  text-decoration: none;
}
.main-link__button:hover,
.main-link__button:focus,
.main-link__button:active {
  background: #222132;
  color: #fff;
  box-shadow: rgba(34, 33, 50, 0.26) 0 20px 27px;
}

/* PROCES SECTION *************************************************  */
.proces {
  position: relative;
  background-color: rgb(249, 249, 249);
  padding-block-start: 220px;
  padding-block-end: 150px;
  width: 100%;
  z-index: 1;
}
.proces-header,
.proces-content {
  max-width: 1330px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
}
.proces-header__inside,
.proces-content__inside {
  width: 100%;
  padding-inline: 15px;
  margin-block-end: 45px;
}
.proces-header__title {
  font-size: clamp(1.25rem, 7vw, 2.18rem);
  line-height: 1.2;
  padding-block-end: 25px;
  text-align: center;
  font-family: var(--ff-inter-bold-700);
  color: rgb(34, 33, 50);
}
.proces-header__desc {
  font-size: 1rem;
  color: #000;
  text-align: center;
}

.proces-content__inside {
  display: grid;
  grid-template-columns: minmax(290px, 483px) 1fr;
  gap: clamp(1rem, 2vw, 3rem);
  justify-items: center;
  justify-content: center;
  align-items: start;
}
.proces-left {
  display: grid;
  gap: 0.6rem;
}
.proces-left-wrapper {
  display: grid;
  place-items: center;
  padding: 0;
}
.proces-left__card {
  position: relative;
  overflow: hidden;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  place-items: start;
  width: max-content;
  grid-template-columns: auto minmax(220px, 275px);
  height: fit-content;
  row-gap: 0.5rem;
  column-gap: 1rem;
  cursor: pointer;
}
.green-line {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 6px;
  background-color: rgb(26, 188, 113);
  animation: line 10s linear forwards;
  display: none;
}

@keyframes line {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.proces-left__image {
  width: 32px;
  height: 32px;
  object-fit: cover;
  filter: brightness(0);
  opacity: 0.4;
}
.proces-left__title {
  color: rgb(146, 145, 167);
  font-family: var(--ff-inter-semi-bold-600);
  font-size: 19.2px;
  line-height: 1.1;
}
.left-card__bottom {
  width: 100%;
  grid-column: 2/3;
}
.left-bottom__text {
  margin-top: 0.25rem;
  margin-block-end: 5px;
  line-height: 24px;
}

/* ACTIVE CLASSE ***************************************/

.active-card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 19px 65px 0px;
}
.active-icon {
  filter: brightness(1);
  opacity: 1;
}
.active-proces-left-wrapper {
  padding: 1em;
}

.active-title {
  color: #1abc71;
}
.active-green-line {
  display: block;
}

.left-bottom__text {
  color: rgba(34, 33, 50, 0.7);
  display: none;
}
.active-text {
  display: block;
}
.proces-right {
  position: relative;
  width: 100%;
}
.proces-right__decoration {
  position: absolute;
  right: -35px;
  bottom: -31px;
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/dotline3.png") left top no-repeat;
  width: clamp(220px, 15vw, 272px);
  opacity: 0.5;
  aspect-ratio: 1;
}
.proces-right__box {
  width: 865px;
}

.right-box__img {
  width: 100%;
  display: none;
}
.active-img {
  display: block;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0px 0px 16px);
}

/* UPOZNAJ SECTION ************************************************/

.upoznaj-container {
  max-width: 1064px;
  width: 100%;
  margin-inline: auto;
  padding: 60px;
  padding-block: 48px;
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/cta-bg.jpg");
  background-size: cover !important;
  border-radius: 10px;
  box-shadow: rgba(25, 187, 112, 0.35) 0 19px 35px;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.upoznaj-title {
  font-family: var(--ff-inter-bold-700);
  color: #fff;
  line-height: 1;
  font-size: 26px;
  width: 60%;
}
.upoznaj-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.upoznaj-links a {
  padding: 12px 14px;
  font-size: 15px;
  border-radius: 6px;
  line-height: 20px;
}
.upoznaj-login {
  border-color: #fff;
  font-family: var(--ff-inter-medium-500);
  color: #fff;
  border: 2px solid white;
  transition: all 200ms linear;
}
.upoznaj-login:hover,
.upoznaj-login:focus {
  background-color: white;
  color: black;
}
.upoznaj-register {
  background: #222132;
  font-family: var(--ff-inter-medium-500);
  box-shadow: rgb(34 33 50/26%) 0 20px 27px;
  border: 2px solid #222132;
  color: white;
  transition: all 200ms linear;
}
.upoznaj-register:hover,
.upoznaj-register:focus {
  background-color: white;
  border: 2px solid white;
  color: black;
}

/* KANDIDATI SECTION *********************************************/
.kandidati-section {
  position: relative;
  width: 100%;
  background: rgba(0, 0, 0, 0.005);
  padding-bottom: 50px;
  padding-top: 100px;
}
.kandidati,
.pitanja {
  max-width: 1064px;
  margin-inline: auto;
  width: 100%;
}
.kandidati-header {
  text-align: center;
  margin-inline: auto;
  padding-inline: 10px;
}
.kandidati-header__title {
  margin-block-end: 30px;
  font-size: 40px;
  color: #222132;
  font-family: var(--ff-inter-bold-700);
}
.kandidati-header__desc {
  font-size: 16px;
  color: #000;
  line-height: 24px;
  font-family: var(--ff-inter-regular-400);
  padding-inline: 10px;
}

.kandidati-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(16rem, 38vw, 28rem), 1fr)
  );
  text-align: left;
  gap: 2rem;
  margin-block: 90px;
}
.kandidati-container__card {
  background-color: white;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.07) 0 19px 65px;
  border-radius: 6px;
}
.kandidati-container__card img {
  margin-block-end: 20px;
  width: 49px;
  height: 49px;
}
.kandidati-container__card h3 {
  line-height: 1.1;
  color: #222132;
  font-family: var(--ff-inter-bold-700);
  padding: 0 0 15px;
  font-size: 20px;
}

.kandidati-container__card p:not(:last-child) {
  padding-bottom: 30px;
}
.kandidati-container__card p {
  font-family: var(--ff-inter-regular-400);
  color: #727180;
}

/* ODABIR SECTION ************************************************/
.odabir {
  position: relative;
  width: 100%;
  height: 530px;
  background: url("https://zaposlise.hr/wp-content/uploads/2021/11/bg1-3.jpg") center center no-repeat;
  background-size: cover;
}
.odabir-container {
  max-width: 1330px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 100px;
}
.odabir-container div {
  flex: 1;
}
.odabir-container div img {
  display: none;
}
.odabir-content {
  flex: 1;
  text-align: left;
}
.odabir-content h3 {
  font-family: var(--ff-inter-bold-700);
  max-width: 65%;
  font-size: 34px;
  line-height: 1;
  margin-block-end: 30px;
}
.odabir-content p {
  color: rgb(34, 33, 50);
  margin-block-end: 30px;
  max-width: 70%;
  font-family: var(--ff-inter-regular-400);
  line-height: 20px;
}
.odabir-content__bold {
  max-width: 70%;
  color: rgb(34, 33, 50);
  font-family: var(--ff-inter-bold-700);
  line-height: 20px;
  margin-block-end: 30px;
}

/* UPOZNAJ CONATINER KOPIJA SA DRUGOM POZICIJOM ***************/
.upoznaj-container__dva {
  max-width: 1064px;
  width: 100%;
  margin-inline: auto;
  padding: 60px;
  padding-block: 48px;
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/cta-bg.jpg");
  background-size: cover !important;
  border-radius: 10px;
  box-shadow: rgba(25, 187, 112, 0.35) 0 19px 35px;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

/* OGLAŠIVAČI SECTION I PRVI SLIDER *****************************************/
.oglašivači {
  padding-block-start: 100px;
  padding-block-end: 20px;
  position: relative;
  margin-block-start: 60px;
}
.oglašivači-decoration__img {
  position: absolute;
  left: 0;
  bottom: 30px;
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/dotline3.png") left top repeat;
  width: 140px;
  height: 318px;
  opacity: 0.5;
}
.oglašivači__title {
  text-align: center;
  padding-inline: 15px;
  margin-block-end: 60px;
}
.oglašivači__title h2 {
  font-size: 30px;
  line-height: 1;
  font-family: var(--ff-inter-bold-700);
  color: rgb(34, 33, 50);
  font-size: 44px;
}

.desktop-slider {
  width: 100%;
  overflow: hidden;
}
.desktop-slider__box {
  display: flex;
  width: calc(241px * 28);
}
.desktop-slider__flex {
  display: flex;
  gap: 6rem;
  width: calc(241px * 14);
  animation: move 100s infinite linear;
}

.desktop-slider__flex img {
  width: 145px;
  z-index: 20;
  opacity: 1;
}
@keyframes move {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* DESKTOP SLIDER, DRUGI SLIDER ********************************************/
.desktop-slider-two {
  margin-block-start: 40px;
  margin-block-end: 60px;
  width: 100%;
  overflow: hidden;
}
.desktop-slider__box-two {
  display: flex;
  width: calc(241px * 30);
}
.desktop-slider__flex-two {
  display: flex;
  gap: 6rem;
  width: calc(241px * 15);
  animation: move-two 100s infinite linear;
}
.desktop-slider__flex-two img {
  width: 145px;
  z-index: 20;
  opacity: 1;
}
@keyframes move-two {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}

/* MOBILE SLIDER *********************************************/
.mobile-slider {
  display: none;
}

/* BLOG SECTION ************************************************/
.blog {
  background-color: #f9f9f9;
  padding-block-start: 100px;
  width: 100%;
}
.blog-container {
  padding-block-end: 80px;
}

.blog-header {
  max-width: 1330px;
  margin-inline: auto;
  width: 100%;
  padding-inline: 15px;
  text-align: center;
}
.blog-header__container {
  width: 100%;
  margin-inline: auto;
  margin-block-end: 20px;
}

.blog-title {
  font-size: 38px;
  max-width: 1040px;
  width: 100%;
  margin-inline: auto;
  font-family: var(--ff-inter-bold-700);
  color: #222132;
  padding-block-end: 30px;
  padding-inline: 130px;
  text-align: center;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  font-style: normal;
}

.blog-subtitle {
  padding-block-end: 30px;
  text-align: center;
  font-size: 15px;
  color: black;
}

.blog-blogs {
  max-width: 1040px;
  margin-inline: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(1rem, 5vw, 2rem);
  position: relative;
}
.blog-decoration__img {
  position: absolute;
  top: 0;
  content: "";
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/dotline2.png") left top repeat;
  width: 268px;
  height: 318px;
  opacity: 0.4;
  z-index: 0;
  top: -10px;
  clear: both;
  right: -185px;
}

.blog-blogs__left {
  width: 100%;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0 19px 65px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  transition: all 200ms linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  text-align: start;
}
.left-image {
  width: 100%;
  position: relative;
  height: revert;
}
.left-image a {
  display: block;
  height: 100%;
  width: 100%;
}
.left-image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.left-content {
  padding: 20px;
}
.left-content__header,
.right-content__header {
  margin-block-end: 8px;
  text-align: start;
}
.left-content__header a,
.left-content__header span,
.right-content__header a,
.right-content__header span {
  border-radius: 6px;
  font-family: var(--ff-inter-semi-bold-600);
  font-size: 13px;
  color: #fff;
  background: #19bb70;
  border: 2px solid transparent;
  padding: 9px 21px;
  line-height: 1;
  display: inline-block;
}
.left-content__header a,
.right-content__header a {
  transition: all 200ms linear;
}
.left-content__header a:hover,
.right-content__header a:hover,
.left-content__header a:focus,
.right-content__header a:focus {
  background-color: black;
}
.left-content__header span,
.right-content__header span {
  background: 0 0;
  color: #000;
  border-color: rgba(0, 0, 0, 0.1);
}
.left-content__title {
  font-size: 26px;
  line-height: 1.5;
  font-family: var(--ff-inter-bold-700);
  color: #222132;
}
.left-content__title .link {
  color: rgb(34, 33, 50);
  transition: all 200ms linear;
}
.left-content__title .link:hover,
.left-content__title .link:focus {
  color: #19bb70;
}
.left-content__subtitle {
  margin-block-end: 0.5rem;
  color: #000;
  font-size: 16px;
}
.left-content__link,
.right-content__link {
  line-height: 29px;
}
.left-content__link .link,
.right-content__link .link {
  position: relative;
  color: #19bb70;
  font-size: 18px;
  font-family: var(--ff-inter-bold-700);
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 200ms linear;
}
.left-content__link .link:hover,
.right-content__link .link:hover,
.left-content__link .link:focus,
.right-content__link .link:focus {
  color: #000;
}
.left-content__link img {
  width: 1rem;
  aspect-ratio: 1;
  object-fit: contain;
}
.blog-blogs__right {
  display: grid;
  align-content: space-between;
  grid-template-rows: 158.4px 158.4px 157.275px;
  gap: clamp(1rem, 5vw, 2rem);
  text-align: start;
}
.right-flex {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  transition: all 200ms linear;
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0 19px 65px;
  grid-template-columns: 0.69fr 1.5fr;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: clamp(0rem, 5vw, 0.3rem);
}
.right-image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
  align-self: stretch;
  position: revert;
}
.right-image a {
  width: 100%;
}
.right-image a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.right-content {
  padding: 0.5rem 1rem;
  display: grid;
  gap: 0.3rem;
  text-align: start;
}
.right-content__title {
  font-size: 20px;
  font-family: var(--ff-inter-bold-700);
  color: #222132;
  padding: 0;
  line-height: 1.5;
}
.right-content__title a {
  color: #222132;
  transition: all 200ms linear;
}
.right-content__title a:hover,
.right-content__title a:focus {
  color: #19bb70;
}

/* FAQ ******************************************************* */
.pitanja-full {
  width: 100%;
  padding-block: 100px;
  position: relative;
}
.pitanja-decoration__img {
  position: absolute;
  background: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/dotline2.png");
  background-repeat: repeat;
  background-size: contain;
  left: 0;
  top: -80px;
  height: 268px;
  opacity: 0.8;
  width: 120px;
  z-index: 0;
}

.pitanja-naslov {
  line-height: 1;
  text-align: center;
  font-family: var(--ff-inter-bold-700);
  font-size: 34px;
  margin-block-end: 30px;
}

.pitanja-box {
  padding-right: 20px;
  padding-block-end: 1px;
  box-shadow: none;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  margin-block-end: 20px;
  position: relative;
  z-index: 10;
  transition: all 250ms linear;
}

.style {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.07) 0 19px 57px;
}
.pitanja-box__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 15px;
  padding-left: 20px;
  gap: 2rem;
  cursor: pointer;
}

.pitanja-box__flex:hover .pitanja-box__pitanje,
.pitanja-box__flex:focus .pitanja-box__pitanje {
  color: rgb(25, 187, 112);
}

.pitanja-box__pitanje {
  color: rgb(34, 33, 50);
  font-size: 22px;
  font-family: var(--ff-inter-bold-700);
}

.pitanja-box__plus,
.pitanja-box__minus {
  color: rgb(25, 187, 112);
  font-size: 36px;
  font-family: var(--ff-inter-semi-bold-600);
}

.pitanja-box__text {
  color: rgb(34, 33, 50);
  font-family: var(--ff-inter-regular-400);
  font-size: 16px;
  line-height: 22px;
  max-height: 0px;
  overflow: hidden;
  margin: 0 20px 0px 20px;
  padding-block-end: 0px;
  transition: all 300ms linear;
}

.hidden {
  display: none;
}

.visible {
  margin-block-end: 20px;
  max-height: 400px;
}

/* PREUZMI SECTION *********************************************/
.preuzmi-full {
  width: 100%;
  background: url("https://zaposlise.hr/wp-content/uploads/2021/11/bg2-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 261.975px;
  overflow: hidden;
}
.preuzmi {
  max-width: 1330px;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preuzmi-left {
  flex: 2;
}
.preuzmi-left img {
  object-fit: cover;
  width: 45rem;
}
.preuzmi-right {
  flex: 1;
}
.preuzmi-right__title {
  font-size: clamp(1.5rem, 7vw, 2.5rem);
  color: white;
  font-family: var(--ff-inter-bold-700);
  padding-block-end: 30px;
}
.preuzmi-right__flex {
  display: flex;
  gap: 48px;
}
.preuzmi-right__flex img {
  width: 191px;
  height: 62px;
}

/* FOOTER  *****************************************************/
.footer {
  padding-block: 40px;
  width: 100%;
  background: #f9f9f9 url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/footer-bg.jpg") center center no-repeat;
  background-size: cover !important;
  color: #696870;
}
.footer-container {
  max-width: 1250px;
  margin-inline: auto;
  padding-inline: 15px;
  font-family: var(--ff-inter-regular-400);
  color: rgb(105, 104, 112);
  line-height: 20px;
}
.footer-flex {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.social {
  display: flex;
  align-items: center;
}

.footer-home__img {
  height: 45px;
  width: 240px;
  margin-block-end: 40px;
}
.footer-social {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1.25rem;
}
.footer-social img {
  width: 32px;
  height: 32px;
}
.footer-flex__navigation {
  width: min(100%, 460px);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-block-end: 20px;
  padding: 10px;
  margin-inline: auto;
}

.navigation-left,
.navigation-right {
  flex-shrink: 0;
  width: unset;
  margin-inline: auto;
}
.navigation-left h2,
.navigation-right h2 {
  font-family: var(--ff-inter-bold-700);
  font-size: 1.5rem;
  color: #222132;
  padding-block-end: 25px;
}
.navigation-left__items,
.navigation-right__items {
  display: grid;
  gap: 0.5rem;
}
.navigation-left__items li,
.navigation-right__items li {
  text-align: left;
  line-height: 29px;
}
.navigation-left__items li a,
.navigation-right__items li a {
  color: rgb(105, 104, 112);
  font-family: var(--ff-inter-regular-400);
  transition: all 200ms linear;
}
.navigation-left__items li a:hover,
.navigation-right__items li a:hover,
.navigation-left__items li a:focus,
.navigation-right__items li a:focus {
  color: #000;
}
.footer-flex__newsletter {
  width: 460px;
}

.footer-flex__newsletter h2 {
  color: rgb(34, 33, 50);
  font-family: var(--ff-inter-bold-700);
  font-size: 24px;
  margin-block-end: 10px;
  line-height: 1.2;
}
.footer-flex__newsletter p {
  line-height: 29px;
  padding-block-end: 20px;
}

/* NEWSLETTER CODE */

.hidde-form {
  display: none;
}

.form-container {
  display: flex;
  gap: 15px;
  margin-block-end: 20px;
}
.form-container__left {
  width: 316px;
  line-height: 29px;
}
.form-container__left input {
  border: 1.6px solid rgba(0, 0, 0, 0.17);
  border-radius: 14px;
  font-size: 14px;
  color: rgb(34, 33, 50);
  padding-block: 15.4px;
  padding-inline: 21px;
  width: 100%;
  height: 56px;
  font-family: var(--ff-inter-regular-400);
  line-height: 14px;
  outline: none;
  transition: all 150ms ease-in-out;
}
.form-container__left input:focus {
  border: 1.6px solid rgba(20, 97, 207, 0.824);
}

.input-error {
  color: rgb(245, 108, 108);
  font-size: 12px;
  line-height: 29px;
  font-family: var(--ff-inter-regular-400);
  display: none;
}
.form-container__right button {
  height: 100%;
  width: 100%;
  font-size: 14px;
  border: 0.8px solid rgb(25, 187, 112);
  border-radius: 14px;
  background-color: rgb(25, 187, 112);
  accent-color: rgb(25, 187, 112);
  color: white;
  padding-inline: 21px;
  padding-block: 15.4px;
  font-family: var(--ff-inter-regular-400);
  line-height: 21px;
  transition: all 150ms ease-in-out;
  cursor: pointer;
}
.form-container__right button:hover,
.form-container__right button:focus {
  background-color: white;
  color: rgb(25, 187, 112);
}
.form-container__right {
  width: 128px;
}
.newsletter-izjava {
  margin-block-end: 25px;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.newsletter-izjava span {
  padding-top: 8px;
}
.newsletter-izjava span input {
  width: 20px;
  height: 20px;
  margin-inline-end: 16px;
  accent-color: #19bb70;
}

.newsletter-izjava__detalji {
  padding-inline-end: 5px;
  padding-block-end: 0px;
  padding-block-start: 8px;
}
.newsletter-izjava__detalji label {
  line-height: 29px;
  padding-block-end: 0px;
  cursor: pointer;
}

.newsletter-izjava__detalji a {
  color: rgb(25, 186, 112);
  line-height: 29px;
  text-decoration-color: rgb(25, 186, 112);
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  transition: all 200ms linear;
}
.newsletter-izjava__detalji a:hover,
.newsletter-izjava__detalji a:focus {
  text-decoration: none;
  color: #222132;
}
.red {
  color: rgb(245, 108, 108) !important;
}
.red-link {
  color: rgb(245, 108, 108) !important;
  text-decoration-color: rgb(245, 108, 108) !important;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

.newsletter-checkbox__error {
  color: rgb(245, 108, 108);
  font-size: 12px;
  line-height: 29px;
  font-family: var(--ff-inter-regular-400);
  display: none;
}
.show-error {
  display: block;
}
.uspješna-prijava {
  border: 1px solid #ced4da;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  padding: 15px;
  position: relative;
  display: none;
}

.uspješna-prijava__uspjeh {
  display: block;
}
.uspješna-prijava p {
  padding-block-end: 20px;
}

.footer-end {
  margin-block-start: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer-end p {
  margin-block-start: 40px;
  font-size: 14px;
  color: rgb(105, 104, 112);
  line-height: 29px;
}
.footer-end p b {
  font-family: var(--ff-inter-bold-700);
}

.footer-end div {
  margin-block-start: clamp(1.25rem, 5vw, 2.5rem);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.a {
  color: rgb(104, 103, 111);
  font-size: 14px;
  line-height: 29px;
  transition: all 200ms linear;
}
.a:hover,
.a:focus {
  color: #000;
}

/* BREAKPOINT(1600) *********************************************/
@media (max-width: 1600px) {
  .header-logo__img {
    margin-inline-end: 42px;
  }
  .header-links .login {
    margin-inline-start: 0px;
  }
  .main-title {
    font-size: 40px;
  }
  .main-link__button {
    padding: 17px 23px;
  }
  .proces-left__card {
    width: 368px;
  }
  .proces-right__box {
    width: clamp(290px, 56vw, 865px);
  }
  .kandidati-header__title {
    font-size: 34px;
  }
  .blog-decoration__img {
    right: -15px;
  }
  .header-container {
    max-width: 1440px;
  }
}
/* BREAKPOINT(1440) *********************************************/
@media (max-width: 1440px) {
  .header-container {
    max-width: 1340px;
  }
  .main-title {
    font-size: 42px;
  }
  .main-link__button {
    padding: 16px 20px;
  }
  .proces-header,
  .proces-content {
    max-width: 1160px;
  }
  .proces-content__inside {
    align-items: center;
  }
  .kandidati,
  .pitanja {
    max-width: 954px;
  }

  .kandidati-header__desc {
    line-height: 20px;
  }
  .upoznaj-container,
  .upoznaj-container__dva {
    max-width: 928px;
  }
  .pitanja-box__pitanje {
    font-size: 21px;
  }

  .preuzmi-full {
    height: 473px;
  }
  .preuzmi {
    flex-direction: column;
  }
  .preuzmi-right {
    margin-block: 32px;
  }
  .preuzmi-right__title {
    text-align: center;
    padding-bottom: 45px;
  }
  .navigation-left__items li,
  .navigation-right__items li {
    line-height: 24px;
  }
  .line-height {
    line-height: 24px;
  }

  .blog-header {
    max-width: 1160px;
  }
  .blog-title {
    font-size: 40px;
  }
  .blog-blogs__right {
    grid-template-rows: 157.275px 157.275px 157.275px;
  }
  .blog-decoration__img {
    right: -95px;
  }
}
/*  BREAKPOINT(1290) *********************************************/
@media (max-width: 1290px) {
  .header-container {
    max-width: 1140px;
  }
  .header-logo__img {
    width: 173px;
    margin-inline-end: 15px;
  }
  .header-links .link {
    font-size: 15px;
  }

  .header-links .link {
    margin-inline-end: 20px;
  }
  .header-links .login {
    margin-inline-end: 10px;
  }
  .main-container {
    padding-block-start: 115px;
  }
  .main-title {
    font-size: 38px;
  }
  .main-container__content {
    width: 444px;
  }
  .main-description {
    line-height: 20px;
    font-size: 15px;
  }
  .main-link__button {
    font-size: 15px;
  }
  .proces-header,
  .proces-content {
    max-width: 1140px;
  }
  .kandidati-container__card h3 {
    font-size: 24px;
  }
  .odabir-content h3,
  .odabir-content p,
  .odabir-content__bold {
    max-width: 80%;
  }
  .odabir-content p,
  .odabir-content__bold {
    font-size: 16px;
  }

  .pitanja-box__pitanje {
    font-size: 20px;
  }
  .blog-header {
    max-width: 1140px;
  }
}

/*  BREAKPOINT(1199) *********************************************/
@media (max-width: 1199px) {
  .header-container {
    max-width: 1000px;
  }
  .header-links .login,
  .header-links .register {
    padding-block: 9px;
    padding-inline: 10px;
  }
  .main-container {
    padding-block-start: 65px;
    padding-inline-start: 50px;
  }
  .main-title {
    font-size: 42px;
  }

  .main-link__button {
    font-size: 20px;
    padding: 17px 23px;
  }
  .proces {
    padding-block-start: 250px;
  }
  .proces-header,
  .proces-content {
    max-width: 980px;
    padding-inline: 0px;
  }
  .proces-header__inside,
  .proces-content__inside {
    padding-inline: 15px;
  }
  .proces-left__card {
    width: 320px;
  }
  .right-box__img {
    vertical-align: middle;
  }

  .kandidati,
  .pitanja {
    max-width: 980px;
    padding-inline: 10px;
  }

  .kandidati-header__desc {
    font-size: 16px;
    line-height: 24px;
  }

  .kandidati-container {
    margin-block: 10px;
  }
  .kandidati-section {
    padding-top: 100px;
  }
  .upoznaj-container,
  .upoznaj-container__dva {
    max-width: 980px;
  }
  .upoznaj-links a {
    padding: 14px 18px;
  }
  .odabir {
    padding-bottom: 100px;
  }
  .odabir-content h3,
  .odabir-content p,
  .odabir-content__bold {
    max-width: 90%;
  }

  .pitanja-box__text {
    font-size: 16px;
    line-height: 20px;
  }
  .navigation-left__items li,
  .navigation-right__items li {
    line-height: 22px;
  }
  .line-height {
    line-height: 22px;
  }
  .blog-title {
    font-size: 50px;
  }
  .blog-subtitle {
    font-size: 16px;
  }
  .blog-blogs {
    padding-block-end: 50px;
  }
  .blog-decoration__img {
    right: -15px;
  }
  .oglašivači__title h2 {
    font-size: 50px;
  }
}

/*  BREAKPOINT(991) **********************************************/
@media (max-width: 991px) {
  .header-nav {
    justify-content: space-between;
    height: 75px;
  }
  .header-logo__img {
    max-width: 200px !important;
    width: 100%;
    height: 45px;
  }
  .header-links {
    display: none;
  }
  .header-mobile {
    display: flex;
    align-items: center;
  }
  .header-mobile__btn .prijava {
    display: inline-block;
    background-color: rgb(25, 187, 112);
    margin-inline: 20px;
    font-size: 18px;
    line-height: 1;
    border-radius: 6px;
    padding-block: 12px;
    padding-inline: 20px;
    color: white;
    margin-inline-end: 0px;
    height: auto;
    box-shadow: rgba(25, 187, 112, 0.26) 0px 20px 27px 0px;
    transition: all 200ms linear;
  }
  .header-mobile__btn .prijava:hover,
  .header-mobile__btn .prijava:focus {
    background-color: rgb(34, 33, 50);
    box-shadow: rgba(34, 33, 50, 0.26) 0px 20px 27px 0px;
  }
  .menu {
    margin-inline-start: 20px;
  }
  .header-mobile__hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 28px;
    font-family: var(--ff-inter-medium-500);
  }
  .header-mobile__hamburger.show {
    position: relative;
  }
  .header-mobile__hamburger div {
    height: 3px;
    border-radius: 4px !important;
    background-color: black;
    opacity: 1;
    cursor: pointer;
    width: 100%;
  }
  .header-mobile__hamburger .line-one {
    transition: all 200ms ease-in;
  }
  .header-mobile__hamburger .line-two {
    width: 16px;
  }
  .header-mobile__hamburger .line-three {
    transition: all 200ms ease-in;
  }
  .header-mobile__hamburger .line-one.show {
    position: absolute;
    width: 100%;
    left: 0;
    top: 1px;
    rotate: -45deg;
  }
  .header-mobile__hamburger .line-two.show {
    display: none;
  }
  .header-mobile__hamburger .line-three.show {
    rotate: 45deg;
  }

  .mobile-links {
    position: absolute;
    top: 75px;
    left: 0px;
    width: 100%;
    height: calc(100vh - 75px);
    background-color: white;
    overflow: scroll;
    padding-inline: 15px;
    padding-block-end: 15px;
    z-index: 1000;
    flex-direction: column;
    display: none;
  }
  .mobile-links li a {
    display: block;
    padding-block: 12px;
    padding-inline: 20px;
    font-family: var(--ff-inter-semi-bold-600);
    color: #000;
    font-size: 24px;
  }

  .mobile-links .link-active {
    color: #19bb70;
    transition: all 200ms linear;
  }
  .mobile-links li a:hover,
  .mobile-links li a:focus {
    color: #19bb70;
  }
  .mobile-links.show {
    display: flex;
  }
  .mobile-links .login {
    background-color: white;
    color: #19bb70;
    padding-block: 5px;
    padding-inline: 15px;
    margin-inline: 20px;
    border-radius: 12px;
    width: fit-content;
    border: 1.6px solid #19bb70;
    margin-block-start: 5px;
    transition: all 200ms linear;
  }

  .mobile-links .register {
    background-color: rgb(25, 187, 112);
    border-radius: 12px;
    padding-block: 5px;
    padding-inline: 15px;
    border: 1.6px solid #19bb70;
    color: white;
    margin-block-start: 10px;
    margin-inline: 20px;
    width: fit-content;
    box-shadow: rgba(50, 103, 78, 0.3) 4px 10px 20px 0px;
    transition: all 200ms linear;
  }

  .mobile-links .login:hover,
  .mobile-links .login:focus {
    background-color: black;
    border: 1.6px solid black;
    color: white;
    box-shadow: rgba(34, 33, 50, 0.3) 4px 10px 20px 0px;
  }
  .mobile-links .register:hover,
  .mobile-links .register:focus {
    background-color: white;
    color: #000;
    border: 1.6px solid black;
    box-shadow: rgba(34, 33, 50, 0.3) 4px 10px 20px 0px;
  }

  .main-container {
    padding-inline-start: 15px;
  }
  .main-container__content {
    width: 50%;
  }
  .image__background {
    height: 555px;
  }
  .proces {
    padding-block-end: 240px;
  }

  .proces-header__inside,
  .proces-content__inside {
    padding-inline: 31px;
  }
  .proces-content__inside {
    grid-template-columns: revert;
    grid-template-rows: 1fr auto;
  }
  .proces-left {
    width: 100%;
  }
  .proces-left-wrapper {
    width: 100%;
  }

  .proces-left__card {
    width: 100%;
    margin-inline: auto;
    grid-template-columns: auto 1fr;
    padding-block: 15px;
    padding-inline: 120px;
  }
  .proces-left__image {
    width: clamp(1.5rem, 3vw, 2rem);
    height: auto;
  }
  .proces-right__box {
    width: 80%;
    margin-inline: auto;
  }

  .upoznaj-container,
  .upoznaj-container__dva {
    width: 95%;
    flex-direction: column;
    gap: 15px;
    padding-inline: 15px;
  }
  .upoznaj-title {
    width: 90%;
    margin-inline: auto;
    text-align: center;
  }
  .kandidati,
  .pitanja {
    padding-inline: 15px;
  }
  .kandidati-section {
    padding-top: 120px;
  }
  .kandidati-container__card img {
    width: 61px;
    height: 61px;
  }
  .odabir {
    height: 445px;
    padding-bottom: 120px;
  }
  .upoznaj-links a {
    font-size: 20px;
  }

  .upoznaj-container__dva {
    bottom: -240px;
  }
  .odabir-container {
    padding-inline: 11px;
    padding-block: 50px;
  }

  .odabir-content h3,
  .odabir-content p,
  .odabir-content__bold {
    max-width: 100%;
    margin-inline-end: 10px;
  }
  .pitanja-full {
    padding-block: 50px;
  }
  .pitanja-naslov {
    margin-block-end: 24px;
  }
  .preuzmi-right__title {
    text-align: center;
    padding-block-end: 15px;
  }
  .preuzmi-full {
    height: auto;
  }
  .blog {
    padding-block-start: 50px;
  }
  .blog-title {
    padding-inline: 0;
  }
  .right-content__header {
    margin-block-end: 0px;
  }
  .blog-blogs {
    grid-template-columns: revert;
    grid-template-rows: auto 1fr;
  }
  .right-content {
    gap: 0.7rem;
  }
  .blog-blogs__right {
    grid-template-rows: repeat(3, min-content);
    row-gap: 47px;
  }
  .right-flex {
    grid-template-columns: unset;
    grid-template-rows: clamp(8rem, 26vw, 20rem) 1fr;
  }
  .oglašivači {
    margin-block-start: 185px;
  }
  .oglašivači__title h2 {
    font-size: 42px;
  }
}

@media (max-width: 828px) {
  .odabir-content h3,
  .odabir-content p,
  .odabir-content__bold {
    margin-inline-end: 0px;
  }
  .footer-flex__newsletter {
    width: 100%;
    max-width: 460px;
    margin-inline: auto;
  }
  .navigation-left__items li,
  .navigation-right__items li {
    text-align: center;
  }
  .image__background {
    height: 622px;
  }
}

/*  BREAKPOINT(767) **********************************************/
@media (max-width: 767px) {
  h1,
  h2,
  h3 {
    font-size: 28px;
  }
  .mobile-links li a {
    font-size: 18px;
  }
  .container {
    padding-inline: 8px;
  }
  .main {
    width: 100%;
    margin-inline: auto;
  }
  .main-container {
    padding-block-start: 15px;
    text-align: center;
    margin-inline: auto;
    width: 100%;
  }

  .main-container__content {
    width: 100%;
    text-align: center;
  }
  .main-link__button {
    display: inline-block;
    margin-inline: auto;
    padding: 14px 18px;
    line-height: 1;
    font-size: 16px;
  }

  .main-title {
    font-size: 24px;
  }
  .image__background {
    background-image: url("https://zaposlise.hr/wp-content/themes/ngtheme/assets/i/mobile-zaposlise-poslodavci-naslovna@2x.jpg");
    background-size: contain;
    top: 150px;
  }
  .proces {
    padding-block-start: 400px;
  }
  .proces-left__card {
    padding-inline: 65px;
  }
  .proces-right__box {
    width: 90%;
  }

  .kandidati-section {
    padding-top: 100px;
  }
  .kandidati-header__title {
    font-size: 28px;
  }
  .kandidati-header {
    width: 100%;
  }
  .kandidati-header__desc {
    line-height: 20px;
  }
  .kandidati-container__card {
    padding: 10px 15px 15px;
  }
  .upoznaj-container__dva {
    bottom: -140px;
    padding-block: 30px;
  }
  .upoznaj-title {
    font-size: 20px;
  }
  .upoznaj-links a {
    padding: 11px 14px;
    font-size: 13px;
    line-height: 16px;
  }
  .odabir {
    padding-bottom: 80px;
    background: none;
  }
  .odabir-container {
    padding-inline: 0px;
    flex-direction: column;
  }
  .odabir-container div {
    width: 100%;
  }
  .odabir-container div img {
    display: block;
    height: 320px;
    width: 100%;
    object-fit: cover;
    margin-bottom: 30px;
  }
  .odabir-content {
    padding-inline: 8px;
  }
  .odabir-content h3 {
    font-size: 28px;
    margin-block-end: 15px;
  }
  .odabir-content p {
    font-size: 16px;
  }
  .odabir-content__bold {
    font-size: 16px;
  }
  .upoznaj-container__dva {
    bottom: -350px;
  }
  .odabir-content h3,
  .odabir-content p {
    margin-inline: 10px;
  }
  .pitanja-box__pitanje {
    font-size: 18px;
    line-height: 19.8px;
  }
  .pitanja-full {
    padding-bottom: 20px;
  }
  .pitanja-box__flex {
    gap: 1rem;
  }
  .pitanja-box__text {
    font-size: 15px;
    line-height: 20px;
  }
  .pitanja-naslov {
    font-size: 28px;
    margin-block-end: 15px;
  }
  .pitanja-decoration__img {
    display: none;
  }
  .preuzmi-right__flex {
    padding-inline: 15px;
  }
  .preuzmi-right__flex img {
    width: auto;
    height: auto;
  }

  .footer-flex__links {
    margin-block-end: 20px;
    margin-inline: auto;
  }
  .footer-flex__newsletter {
    text-align: center;
  }
  .navigation-left h2,
  .navigation-right h2 {
    padding-block-end: 15px;
  }
  .navigation-left__items li,
  .navigation-right__items li {
    line-height: 20px;
  }
  .line-height {
    line-height: 20px;
  }
  .footer-end {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .blog-title {
    font-size: clamp(30px, 8vw, 50px);
  }
  .blog-subtitle {
    font-size: 15px;
  }
  .blog-blogs {
    padding-block-end: 0px;
  }
  .oglašivači {
    display: none;
  }
  .desktop-slider-two {
    display: none;
  }
  .desktop-slider {
    display: none;
  }
  .mobile-slider {
    display: block;
    padding-block-start: 45px;
    padding-block-end: 20px;
    margin-block-start: 380px;
  }
  .mobile-slider__title {
    text-align: center;
    padding-inline: 15px;
    margin-block-end: 40px;
  }
  .mobile-slider__title h2 {
    padding-block-end: 10px;
    font-size: 30px;
    line-height: 1;
    font-family: var(--ff-inter-bold-700);
    color: rgb(34, 33, 50);
  }
  .mobile-slider__box {
    width: 100%;
    margin-inline: auto;
    overflow: hidden;
  }
  .mobile-slider__container {
    margin-block-end: 20px;
    display: flex;
    width: 13978px;
    animation: move 120s infinite linear;
  }
  /* calc(241px * 58) */
  .mobile-slider__flex {
    display: flex;
    gap: 6rem;
    width: 6989px;
  }

  .mobile-slider__flex img {
    width: 145px;
    position: relative;
    z-index: 20;
  }
  @keyframes move {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
/*  BREAKPOINT(700) **********************************************/
@media (max-width: 700px) {
  .proces {
    padding-block-start: 330px;
    padding-block-end: 200px;
  }
}

/* BREAKPOINT (590) **********************************************/
@media (max-width: 590px) {
  .form-container {
    flex-direction: column;
  }
  .form-container__left {
    width: 100%;
    margin-block-end: 20px;
  }
  .form-container__right {
    width: 100%;
  }
  .blog-blogs__right {
    row-gap: 39px;
  }
  .main-container {
    padding-block-start: 10px;
  }
  .image__background {
    top: 300px;
  }
  .proces {
    padding-block-start: 410px;
  }
  .proces-left__card {
    padding-inline: 50px;
  }
  .proces-right__box {
    width: 95%;
  }
}

/*  BREAKPOINT(479) **********************************************/
@media (max-width: 479px) {
  .header-mobile__btn .prijava {
    font-size: 14px;
    padding-inline: 7px;
    padding-block: 6px;
    margin-inline: 0px;
    text-wrap: nowrap !important;
    line-height: 1;
  }
  .upoznaj-container,
  .upoznaj-container__dva {
    gap: 35px;
  }
  .upoznaj-container__dva {
    bottom: -465px;
  }
  .blog-subtitle {
    margin-block-end: 20px;
  }
  .mobile-slider {
    margin-block-start: 490px;
  }
  .proces {
    padding-block-start: 340px;
  }
  .proces-left__card {
    padding-inline: 20px;
    padding-inline-end: 25px;
  }
}
/*  BREAKPOINT(420) **********************************************/
@media (max-width: 420px) {
  .header-logo__img {
    max-width: 185px !important;
    margin-inline-end: 0px;
    width: 100%;
  }
  .header-mobile__btn .prijava {
    margin-inline-end: 30px;
  }
  .image__background {
    top: 320px;
  }
  .proces {
    padding-block-start: 290px;
  }
}
/*  BREAKPOINT(378) **********************************************/
@media (max-width: 378px) {
  .image__background {
    top: 360px;
  }
  .proces {
    padding-block-start: 270px;
  }
}
/*  BREAKPOINT(310) **********************************************/
@media (max-width: 310px) {
  .blog-blogs__right {
    row-gap: 31px;
  }
  .image__background {
    top: 400px;
  }
  .proces {
    padding-block-start: 240px;
  }
}
