.app {
  width: 100%;
  margin-block-end: 10rem;
}
.app__wrapper {
  max-width: 1200px;
  width: 95%;
  margin-inline: auto;
  border-radius: 30px;
  display: flex;
  gap: 148px;
  align-items: flex-end;
}
.app__left {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.app__left_top { 
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 572px;
}
.app__left_top h3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.6rem;
}
.app__left_top p {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
  color: rgba(26, 29, 30, 1);
}
.app__left_bottom {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.app__left_bottom p {
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.687rem;
}
.app__left_bottomLinks {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}
.app__left_bottomLinks img {
  object-fit: cover;
}
.app__right {
  border-radius: 30px;
  overflow: hidden;
}

/* BREAKPOINTS *************************************************************/
@media (max-width: 1191px) {
  .app {
    margin-block-end: 5rem;
  }
  .app__wrapper {
    gap: 2.5rem;
  }
}
@media (max-width: 1040px) {
  .app__wrapper {
    width: 100%;
    padding-inline: 1rem;
  }
  .app__left {
    flex: 1;
  }
  .app__left_top {
    width: 100%;
  }
  .app__left_top h3 {
    font-size: 2.5rem;
    line-height: 3.1125rem;
  }
  .app__right {
    width: 100%;
    flex: 1;
  }
  .app__right img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .app__wrapper {
    flex-direction: column;
    gap: 1rem;
  }
  .app__left_bottom {
    gap: 1rem;
  }
  .app__right img {
    height: 391px;
  }
}
@media (max-width: 498px) {
  .app {
    margin-block-end: 11rem;
  }
  .app__left_top {
    gap: 1rem;
  }
  .app__left_top h3 {
    font-size: 1.75rem;
    line-height: 2.1rem;
    text-wrap: balance;
  }
  .app__left_top p {
    font-size: 0.875rem;
    line-height: 1.225rem;
  }

  .app__wrapper {
    position: relative;
  }

  .app__left_bottom {
    position: absolute;
    bottom: -7rem;
    left: 1rem;
  }
  .app__left_bottomLinks a {
    flex: 1;
    width: 100%;
  }
  .app__left_bottomLinks_appleImg {
    height: 50px;
    width: fit-content;
  }
  .app__left_bottomLinks_googleImg {
    height: 50px;
    width: 168px;
  }
}
@media (max-width: 364px) {
  .app__left_bottom {
    position: absolute;
    bottom: -11rem;
  }
  .app__left_bottomLinks {
    flex-direction: column;
  }
}
