.posao {
  width: 100%;
  margin-block-end: 140px;
  position: relative;
}

.posaoDecoImg {
  position: absolute;
  top: -40px;
  right: 0;
}

.posao__wrapper {
  position: relative;
}
.posao__content {
  width: 764px;
  margin-inline: auto;
  padding-block-start: 70px;
  padding-block-end: 52px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}
.posao__content_bio {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
.posao__content_bioTop {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  background-color: rgba(21, 101, 216, 1);
  padding: 5px 20px 5px 5px;
  width: fit-content;
  margin-inline: auto;
  border-radius: 100px;
}
.posao__content_bioTop p {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.125rem;
  color: white;
}

.posao__content_bioTitle {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: -0.02em;
  text-align: center;
}
.posao__content_bioText {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.575rem;
  text-align: center;
}

.posao__content_btn {
  padding: 13px 40px;
  background-color: #19bb70;
  border-radius: 12px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #ffffff;
  text-align: center;
  transition: all 200ms linear;
}

.posao__content_btn:hover,
.posao__content_btn:active {
  background-color: black;
}

/* POSAO INFINITE SLIDER ******************************************/
.posao__slider {
  width: 100%;
  height: var(--height);
  overflow: hidden;
  position: relative;
}

.posao__sliderList {
  display: grid;
  grid-auto-columns: min-content;
  grid-auto-flow: column;
  gap: 2rem;
  /* min-width: calc(var(--width) * var(--quanity)); */
  width: fit-content;
  animation: autoRun linear infinite;
  animation-duration: calc(var(--quanity) * 6s);
}

@keyframes autoRun {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-50% , 0, 0);
  }
}

.posao__card {
  height: var(--height);
  width: var(--width);
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.2);
  background-blend-mode: multiply;
}

.posao__card_name {
  position: absolute;
  bottom: 54px;
  left: 1.25rem;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: white;
  z-index: 4;
}
.posao__card_job {
  position: absolute;
  font-size: 0.9125rem;
  font-weight: 400;
  line-height: 1.368rem;
  bottom: 1rem;
  left: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 4px 10px;
  border-radius: 100px;
  background-color: transparent;
  color: white;
  z-index: 4;
}

/* BREAKPOINTS *************************************************************/
@media (max-width: 1191px) {
  .posaoDecoImg {
    width: 505px;
    height: 500px;
  }
}
@media (max-width: 1040px) {
  .posao {
    margin-block-end: 5rem;
  }
  .posao__content {
    padding-block: 2.5rem;
    padding-inline: 1.5rem;
  }
  .posaoDecoImg {
    display: none;
  }
}
@media (max-width: 768px) {
  .posao__content {
    width: 100%;
  }
  .posao__slider {
    padding-inline-start: 1.5rem;
    scroll-padding-inline-start: 1.5rem;
  }
}
@media (max-width: 498px) {
  .posao__content_bioTop {
    flex-direction: column;
    background-color: white;
  }
  .posao__content_bioTop p {
    background-color: rgba(21, 101, 216, 1);
    padding: 8px 20px;
    border-radius: 100px;
  }

  .posao__content_bioTitle {
    font-size: 28px;
    line-height: 39.2px;
  }
  .posao__content_bioText {
    font-size: 14px;
    line-height: 19.6px;
  }
}
@media (max-width: 246px) {
}
