.pomoc {
  width: 100%;
  margin-block-end: 10rem;
  margin-block-start: 5rem;
  padding-inline: 1rem;
}
.pomoc__container {
  max-width: 1380px;
  margin-inline: auto;
  border-radius: 30px;
  background-color: #f7f7f8;
  display: flex;
  padding-inline: 90px;
  align-items: center;
  height: 760px;
}

/* LEFT SIDE ***********************************************************/
.pomoc__left {
  flex: 1;
  position: relative;
  height: 100%;
}
/* CARD  ****************************************************************/
.pomoc__left_card {
  position: absolute;
  left: 227px;
  bottom: 554px;
  background-color: white;
  z-index: 3;
  border-radius: 10px;
  box-shadow: 0px 2px 40px 0px rgba(178, 178, 178, 0.25);
  padding: 16px 19px 16px 16px;
  transform: rotate(10deg);
  display: flex;
  align-items: center;
  gap: 8px;
  width: max-content;
}
.pomoc__left_card div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.pomoc__left_card div h6 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.3125rem;
  color: rgba(26, 29, 30, 1);
}
.pomoc__left_card div p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: rgba(133, 133, 151, 1);
}
/* ZIVOTOPIS ***********************************************************/
.pomoc__left_zivotopis {
  max-width: 344px;
  width: 100%;
  padding: 20px 16px;
  background-color: white;
  z-index: 2;
  box-shadow: 0px 2px 40px 0px rgba(178, 178, 178, 0.25);
  position: absolute;
  bottom: 240px;
  left: 36px;
  transform: rotate(-4.5deg);
  border-radius: 14px;
}
.pomoc__left_zivotopisWrapper {
  display: flex;
  flex-direction: column;
}
.pomoc__left_zivotopisBox1 {
  margin-block-end: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.pomoc__left_zivotopisBox1 h6 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.875rem;
  color: rgba(26, 29, 30, 1);
}
.pomoc__left_zivotopisBox1 p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.3125rem;
  color: rgba(26, 29, 30, 1);
  width: 277px;
}
.pomoc__left_zivotopisBox2 {
  margin-block-end: 1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.pomoc__left_zivotopisBox2 p {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.3125rem;
  color: rgba(26, 29, 30, 1);
}
.pomoc__left_zivotopisBox2 div {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.pomoc__left_zivotopisBox2 div p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: rgba(26, 29, 30, 1);
}
.pomoc__left_zivotopisBox3 {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.pomoc__left_zivotopisBox3_button {
  background-color: rgba(25, 187, 112, 1);
  color: white;
  border: transparent;
  height: 50px;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  border-radius: 12px;
  cursor: pointer;
  transition: all 200ms ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pomoc__left_zivotopisBox3_button:hover,
.pomoc__left_zivotopisBox3_button:active {
  background-color: black;
}

.pomoc__left_zivotopisBox3 p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.3125rem;
  color: rgba(163, 165, 165, 1);
}
.pomoc__left_zivotopisBox3 p span {
  font-weight: 500;
}

.pomoc__left_chart {
  position: absolute;
  z-index: 1;
  left: 219px;
  bottom: 95px;
}
.pomoc__left_decorationTop {
  position: absolute;
  z-index: 1;
  bottom: 634px;
  left: 391px;
}
.pomoc__left_decorationBottom {
  position: absolute;
  z-index: 1;
  left: -7px;
  bottom: 236px;
}

/* POMOC RIGHT SIDE *******************************************************/
.pomoc__right {
  width: 572px;
  margin-block: 190px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.pomoc__right_content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.pomoc__right_content h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.56rem;
  color: #1a1d1e;
}
.pomoc__right_content p {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.56rem;
  color: #1a1d1e;
}
.pomoc__right_link {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #19bb70;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  background-color: transparent;
  width: fit-content;
  border: none;
  outline: none;
  cursor: pointer;
}

/* MODAL DIV ********************************************************************************/
.modalDivOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}
.modalDiv {
  position: fixed;
  z-index: 100;
  background-color: white;
  padding: 30px 114px 30px 30px;
  border-radius: 30px;
  width: fit-content;
  height: 674px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  box-shadow: 0px 15px 40px 0px rgba(190, 190, 190, 0.2);
}
.modalDiv__closeIcon {
  position: absolute;
  top: 40px;
  right: 30px;
  cursor: pointer;
}
.modalDiv__closeIconSmall {
  display: none;
}

.modalDiv_Kontakt {
  max-width: 1200px;
  width: 95%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.modalDiv_KontaktForm h3 {
  margin-block-end: 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8rem;
}

/* BREAKPOINTS *************************************************************/
@media (max-width: 1301px) {
  .modalDiv {
    padding: 1rem 100px 1rem 1rem;
  }
  .pomoc__container {
    padding-inline: 1.5rem;
  }
  .pomoc__left_card {
    left: 234px;
  }
  .pomoc__left_zivotopis {
    left: 40px;
  }
  .pomoc__left_chart {
    left: 226px;
  }
  .pomoc__left_decorationTop {
    left: 376px;
  }
  .pomoc__left_decorationBottom {
    left: 22px;
  }
}
@media (max-width: 1191px) {
  .modalDiv {
    padding: 60px;
    height: 711px;
  }
  .modalDiv__closeIcon {
    right: 60px;
  }
  .modalDiv_Kontakt {
    width: 100%;
    padding-inline: 1rem;
    gap: 2.5rem;
  }
  .modalDiv_KontaktForm {
    width: 595px;
  }
  .modalDiv_KontaktForm h3 {
    margin-block-end: 2rem;
    font-size: 2rem;
    line-height: 2.4rem;
  }
  .pomoc__right {
    width: 400px;
  }
  .pomoc__right_content h2 {
    font-size: 2.1rem;
    line-height: 2.75rem;
  }
  .pomoc__right_content p {
    font-size: 1rem;
    line-height: 1.25rem;
  }
}
@media (max-width: 1040px) {
  .pomoc {
    margin-block-end: 5rem;
  }
  .pomoc__container {
    padding-block-start: 60px;
    padding-block-end: 0px;
    padding-inline: 1.5rem;
    flex-direction: column;
    height: 1000px;
  }
  .pomoc__left_card {
    bottom: 445px;
    left: 19px;
  }

  .pomoc__left_zivotopis {
    width: 400px;
    bottom: 135px;
    left: -200px;
  }
  .pomoc__left_chart {
    bottom: 0px;
    left: 6px;
  }
  .pomoc__left_decorationTop {
    bottom: 540px;
    left: 135px;
  }
  .pomoc__left_decorationBottom {
    left: -240px;
    bottom: 120px;
  }

  .pomoc__left {
    order: 2;
  }
  .pomoc__right {
    width: 500px;
    order: 1;
    flex: 1;
    margin-block: 0;
  }
  .pomoc__right_content h2 {
    font-size: 3rem;
    line-height: 3.56rem;
  }
  .pomoc__right_content p {
    font-size: 1.125rem;
    line-height: 1.56rem;
  }
}
@media (max-width: 768px) {
  .modalDiv {
    padding: 1rem;
    width: 95%;
  }
  .modalDiv_KontaktForm {
    width: 100%;
  }
  .modalDiv__closeIcon {
    right: 1rem;
  }
  .pomoc__container {
    height: 760px;
  }
  .pomoc__right {
    width: 80%;
  }

  .pomoc__right_content h2 {
    font-size: 1.75rem;
    line-height: 2.45rem;
  }
  .pomoc__right_content p {
    font-size: 0.875rem;
    line-height: 1.225rem;
  }
  .pomoc__left_card {
    padding: 11px;
    bottom: 300px;
    left: -40px;
  }
  .pomoc__left_card img {
    width: 25px;
    height: 25px;
  }
  .pomoc__left_card div {
    gap: 5px;
  }
  .pomoc__left_card div h6 {
    font-size: 8.1px;
    line-height: 12.16px;
  }
  .pomoc__left_card div p {
    font-size: 7.53px;
    line-height: 11.29px;
  }

  .pomoc__left_zivotopis {
    width: 200px;
    bottom: 115px;
    left: -160px;
    padding: 12px;
  }
  .pomoc__left_zivotopisBox1 h6 {
    font-size: 11.58px;
    line-height: 17.37px;
  }
  .pomoc__left_zivotopisBox1 p {
    font-size: 8.1px;
    line-height: 12.16px;
    width: 100%;
  }
  .pomoc__left_zivotopisBox2 p {
    font-size: 8.1px;
    line-height: 12.16px;
  }

  .pomoc__left_zivotopisBox2 div {
    gap: 4px;
  }
  .pomoc__left_zivotopisBox2 div p {
    font-size: 7.53px;
    line-height: 11.29px;
  }
  .pomoc__left_zivotopisBox2 svg {
    width: 10px;
    height: 10px;
  }
  .pomoc__left_zivotopisBox3 {
    gap: 5px;
  }
  .pomoc__left_zivotopisBox3_button {
    height: 29px;
    font-size: 9.26px;
    line-height: 13.89px;
  }
  .pomoc__left_zivotopisBox3 p {
    font-size: 8.1px;
    line-height: 12.16px;
  }

  .pomoc__left_chart {
    bottom: 30px;
    left: -50px;
  }

  .pomoc__left_chart img {
    width: 162px;
    height: 131px;
  }

  .pomoc__left_decorationTop {
    bottom: 350px;
    left: 50px;
  }
  .pomoc__left_decorationTop svg {
    width: 61px;
    height: 19px;
  }
  .pomoc__left_decorationBottom {
    bottom: 120px;
    left: -180px;
  }
  .pomoc__left_decorationBottom svg {
    width: 61px;
    height: 19px;
  }
}

@media (max-width: 564px) {
  .modalDivOverlay {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .modalDiv {
    position: relative;
    border-radius: 0;
    width: 100%;
    max-height: 100dvh;
    overflow: auto;
    padding-inline: 0px;
    padding-block-start: 0px;
    display: flex;
    align-items: flex-start;
  }
  .modalDiv_Kontakt {
    flex-direction: column;
    height: calc(100% -2px);
    gap: 2.5rem;
    width: 100%;
    padding: 0;
    padding-block-end: 2rem;
    border-radius: 0px;
  }
  .modalDiv_KontaktForm {
    padding-inline: 1rem;
  }
  .modalDiv_KontaktForm h3 {
    display: none;
  }
  .modalDiv__closeIcon {
    display: none;
  }

  .modalDiv__closeIconSmall {
    display: block;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .pomoc__container {
    height: 820px;
  }
  .pomoc__right {
    width: 100%;
  }
}
@media (max-width: 471px) {
  .pomoc__left_card {
    left: -10px;
  }

  .pomoc__left_zivotopis {
    left: -130px;
  }

  .pomoc__left_chart {
    left: -20px;
  }

  .pomoc__left_decorationTop {
    left: 80px;
  }

  .pomoc__left_decorationBottom {
    left: -150px;
  }

  .pomoc__right {
    gap: 2rem;
  }
  .pomoc__right_content {
    gap: 1rem;
  }
}

@media (max-width: 371px) {
  .pomoc__container {
    height: 920px;
  }
}
@media (max-width: 317px) {
  .pomoc__container {
    height: auto;
    padding-block-end: 1.5rem;
  }
  .pomoc__left {
    display: none;
  }
}
