.main {
  padding-block-start: 130px;
  padding-block-end: 180px;
  padding-inline-start: 120px;
  padding-inline-end: 104px;
  background-color: #fff;
}
.main__wrapper {
  max-width: 1216px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 3.375rem;
  position: relative;
  overflow: visible;
}

.main__image_absolute {
  position: absolute;
  bottom: -100px;
  left: 613px;
  background: url("../../../public/image.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  height: 770px;
  width: 100%;
}

.main__upper {
  width: 768px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.main__upper_title {
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 3.75rem;
  letter-spacing: -0.02em;
  color: #1a1d1e;
}
.main__upper_text {
  font-size: 1.125rem;
  font-weight: 400;
  max-width: 577px;
  line-height: 1.575rem;
}
.main__upper_btn {
  width: fit-content;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  text-align: center;
  color: white;
  background-color: rgba(25, 187, 112, 1);
  padding: 13px 40px;
  border-radius: 12px;
  border: none;
  text-decoration: none;
  transition: all 200ms ease;
}
.main__upper_btn:hover,
.main__upper_btn:active {
  background-color: black;
}

.main__bottom {
  width: 597px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.main__bottom div {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.main__bottom div p {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  margin: 0;
  color: rgba(26, 29, 30, 1);
}

/* BREAKPOINTS *************************************************************/
@media (max-width: 1191px) {
  .main {
    padding-block-end: 5rem;
  }
  .main__upper {
    width: 568px;
    gap: 1.5rem;
  }

  .main__upper_title {
    font-size: 2.5rem;
    line-height: 3.125rem;
  }
  .main__upper_text {
    font-size: 1rem;
    max-width: 90%;
    line-height: 1.225rem;
  }
  .main__bottom {
    width: 457px;
    gap: 1.25rem;
  }
  .main__bottom div {
    gap: 1rem;
  }
  .main__bottom div p {
    font-size: 1rem;
    line-height: 1.475rem;
  }
  .main__image_absolute {
    bottom: -50px;
    left: 443px;
    height: 660px;
  }
}
@media (max-width: 1040px) {
  .main {
    padding-inline: 0px;
    padding-block-start: 5rem;
  }
  .main__wrapper {
    padding-inline: 1rem;
  }
  .main__upper {
    width: 468px;
  }
  .main__upper_text {
    max-width: 100%;
  }
  .main__bottom {
    width: 410px;
  }
  .main__image_absolute {
    bottom: -50px;
    left: 433px;
    height: 640px;
  }
}
@media (max-width: 848px) {
  .main {
    padding-block-start: 2.5rem;
    padding-block-end: 5rem;
  }
  .main__wrapper {
    gap: 2rem;
  }
  .main__image_absolute {
    height: 510px;
    bottom: -60px;
    left: 380px;
  }
  .main__upper {
    width: 448px;
    gap: 1rem;
  }

  .main__upper_title {
    font-size: 30px;
    line-height: 42px;
  }
  .main__upper_text {
    font-size: 14px;
    line-height: 19.6px;
  }
  .main__bottom {
    width: 380px;
    gap: 0.5rem;
  }
  .main__bottom img {
    width: 40px;
    height: 40px;
  }
  .main__bottom div p {
    font-size: 13px;
    line-height: 18.2px;
  }
}

@media (max-width: 709px) {
  .main__image_absolute {
    height: 430px;
    bottom: -120px;
    left: 320px;
  }
}
@media (max-width: 605px) {
  .main {
    padding-block-end: 0;
    position: relative;
  }
  .main__wrapper {
    gap: 2rem;
    padding-block-end: 500px;
    align-items: center;
    text-align: center;
  }
  .main__upper_title {
    width: 90%;
    margin-inline: auto;
  }
  .main__upper_text {
    width: 90%;
    margin-inline: auto;
  }
  .main__upper_btn {
    width: fit-content;
    margin-inline: auto;
  }
  .main__bottom div p {
    text-align: start;
  }
  .main__bottom div {
    align-items: center;
  }
  .main__bottom div p {
    text-align: center;
  }
  .main__image_absolute {
    display: none;
  }
  .main__image_absoluteTwo {
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    background: url("../../../public/imageTwo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 650px;
  }
}

@media (max-width: 428px) {
  .main__wrapper {
    align-items: flex-start;
    text-align: start;
  }
  .main__wrapper {
    padding-block-end: 380px;
  }
  .main__image_absoluteTwo {
    height: 480px;
    background-size: contain;
  }
  .main__upper {
    width: 100%;
  }
  .main__upper_title {
    width: 100%;
  }
  .main__upper_text {
    width: 100%;
  }
  .main__upper_btn {
    width: 100%;
  }
  .main__bottom {
    width: 100%;
  }
  .main__bottom div {
    align-items: flex-start;
  }
  .main__bottom div p {
    text-align: start;
  }
}
@media (max-width: 355px) {
  .main__wrapper {
    padding-block-end: 310px;
  }
  .main__image_absoluteTwo {
    height: 390px;
    bottom: 0px;
  }
}
@media (max-width: 312px) {
  .main__image_absoluteTwo {
    bottom: -30px;
  }
}
