.kontakt {
  width: 100%;
}

.kontakt__wrapper {
  max-width: 1200px;
  width: 95%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 114px;
}

/* KONTAKT LEFT SIDE ***********************************************************/
.kontakt__wrapper_left {
  position: relative;
  border-radius: 30px;
  width: 491px;
  background-color: rgba(21, 101, 216, 1);
  padding: 40px 40px 157px 40px;
}
.kontakt__wrapper_left_img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.kontakt__wrapper_left_title {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.625rem;
  text-align: left;
  color: white;
  margin-block-end: 125px;
}
.kontakt__wrapper_left_data {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.kontakt__wrapper_left_data a {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 20px;
  z-index: 10;
}
.kontakt__wrapper_left_data a div {
  width: 40px;
  height: 40px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.kontakt__wrapper_left a p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.25rem;
  text-align: left;
  color: white;
}
.kontakt__wrapper_left_data div img {
  object-fit: cover;
}

/* KONTAKT RIGHT SIDE ***********************************************************/
.kontakt__wrapper_right {
  flex: 1;
}

/* BREAKPOINTS *************************************************************/
@media (max-width: 1191px) {
  .kontakt__wrapper {
    width: 100%;
    padding-inline: 1rem;
    gap: 2.5rem;
  }
}
@media (max-width: 1040px) {
  .kontakt__wrapper {
    flex-direction: column;
  }
  .kontakt__wrapper_left {
    width: 100%;
    flex: 1;
  }
  .kontakt__wrapper_right {
    width: 100%;
    flex: 1;
  }
}
@media (max-width: 768px) {
  .kontakt__wrapper {
    gap: 60px;
  }
  .kontakt__wrapper_left {
    padding: 3.75rem 1.5rem 5rem 1.5rem;
  }
  .kontakt__wrapper_left_title {
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2.1rem;
    margin-block-end: 60px;
  }
  .kontakt__wrapper_left_img {
    height: 307px;
    width: 250px;
  }
}
@media (max-width: 246px) {
  .kontakt__wrapper_left_img {
    height: 277px;
    width: 150px;
  }
  .kontakt__wrapper_left_title {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.65rem;
    margin-block-end: 40px;
  }
  .kontakt__wrapper_left_data a {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.25rem;
  }
  .kontakt__wrapper_left a p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.125rem;
  }
}
