.flex__smallcard {
  border-radius: 1rem;
  background-color: rgba(247, 247, 248, 1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem 1.5rem 1.5rem 1.5rem;
  height: 302px;
}
.flex__smallcard_content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.flex__smallcard_content h5 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.685rem;
  color: rgba(26, 29, 30, 1);
}
.flex__smallcard_content p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.43rem;
  color: rgba(133, 133, 151, 1);
}

/* BREAKPOINTS *************************************************************/
@media (max-width: 1191px) {
}
@media (max-width: 1040px) {
  .flex__smallcard {
    height: 275px;
  }
  .flex__smallcard_content p {
    flex-wrap: balance;
  }
}
@media (max-width: 498px) {
  .flex__smallcard {
    height: 250px;
  }
  .flex__smallcard_content h5 {
    text-wrap: balance;
  }
}
@media (max-width: 296px) {
  .flex__smallcard {
    padding: 0.75rem 1rem 1rem 1rem;
    height: auto;
  }
  .flex__smallcard_icon {
    width: 24px;
    height: 24px;
    margin-block-end: 1.5rem;
  }
  .flex__smallcard_content h5 {
    word-wrap: break-word;
  }
}
